<div class="navbar-wrap">
    <div class="container w930">
        <div class=heading>
            <a href="<%- site.URL %>">
            <span class='title'><%- site.name %></span>
            </a>
            <span class='tagline'><%- site.tagline %></span>
        </div>
    </div>
</div>